<h2>{{ name }}<h2/>
<table>
  <thead>
    <tr>
      <th>front<th/>
      <th>interior<th/>
      <th>back<th/>
    <tr/>
  <thead/>
  <tbody>
  {% for n in range(data.size) %}
    {% set current_index = loop.index %}
    <tr>
    {% for k,v in data.devices.items() %}
      {% if data.size - v.u == current_index %}
        <td>{% if v.front %}{{ k }}{% else %}empty{% endif %}</td>
        <td>{% if v.center %}{{ k }}{% else %}empty{% endif %}</td>
        <td>{% if v.back %}{{ k }}{% else %}empty{% endif %}</td>
      {% elif loop.index == loop.length %}
        <td>empty</td><td>empty</td><td>empty</td>
      {% endif %}
    {% endfor %}
    <tr/>
  {% endfor %}
  <tbody/>
<table/>
